.heading {
  font-size: 24px;
  text-transform: uppercase;

  @media (min-width: $s) {
    font-size: 28px;
  }
}

.sub-heading {
  font-size: 20px;

  @media (min-width: $s) {
    font-size: 24px;
  }
}

.quote {
  font-size: 14px;
  font-style: italic;
  color: $c-dark;

  @media (min-width: $s) {
    font-size: 16px;
  }
}

.description {
  font-size: 14px;
  text-align: justify;

  @media (min-width: $s) {
    font-size: 16px;
  }
}

.link {
  display: block;
  padding: 16px 24px;
  font-size: 14px;
  color: $c-white;
  text-transform: uppercase;
}

.dropdown-link {
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  color: $c-black;
  background-color: $c-white;
}

.button {
  padding: 8px 16px;
  color: $c-white;
  background-color: $c-black;
  border: none;
  outline: none;

  &:hover {
    color: $c-black;
    background-color: $c-light-grey;
  }
}
