$f-primary: 'Lato', sans-serif;

$c-dark: #555;
$c-black: #000;
$c-light-grey: #ccc;
$c-grey: #b8b8b8;
$c-white: #fff;
$c-red: #ff0000;
$c-light-red: #f44336;

$xxs: 445px;
$xs: 625px;
$s: 768px;
$ms: 840px;
$m: 960px;
$ml: 1160px;
$l: 1290px;
$xl: 1440px;
$xxl: 1600px;

$duration: 0.3s;
$ease: ease-in-out;
